[submodule "gaegit"]
	path = gaegit
	url = https://github.com/sloanyang/gaegit.git
[submodule "psd2html"]
	path = psd2html
	url = https://github.com/sloanyang/psd2html.git
[submodule "tahoe-lafs-gae"]
	path = tahoe-lafs-gae
	url = https://github.com/sloanyang/tahoe-lafs-gae.git
